{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>Rating (1 good - 5 bad)? </h1>
<p>View <a href="/results">results</a></p>

<div class="row">
    <div class="col">
        <form>
            <input placeholder="User name" type="text" id="u_name" class="form-control">
            <input type="range" min="1" max="5" value="5" class="slider" id="score">
            <p id="res_val">Rating: 5</p>
            <button id="sbmt_rating" class="form-control" type="submit">Vote!</button>
        </form>
    </div>

    <div class="col">
        <form>
            <input placeholder="Verbal rating (eg. Great!)" class="form-control" type="text" id="word">
            <button id="sbmt_verb" type="submit" class="form-control">Send Word!</button>
        </form>
    </div>
</div>
<script>
$(document).on('input', '#score', function() {
    _val = $(this).val();
    $("#res_val").html("Rating: " + _val);
});

$("#sbmt_rating").click(function(event){
    event.preventDefault();

    _name = $("#u_name").val();
    _score = $("#score").val();

    $.ajax({
        url: "/vote/" + _name,
        method: "POST",
        data: {score: _score },
    }).done(function() {
        alert("Rating submitted!");
    });
});

$("#sbmt_verb").click(function(event){
    event.preventDefault();

    _name = $("#u_name").val();
    _word = $("#word").val();

    $.ajax({
        url: "/word/" + _name,
        method: "POST",
        data: {word: _word },
    }).done(function() {
        alert("Word submitted!");
    });
});

</script>
{% endblock %}